<div id="mp-page">
  <h2 class="page-content">All MPs</h2>

  <div class="mp-box">    
      <% @mp_data.each do |mp| %>
          <div class="mp-link">
          <a href=<%="/mps/" + "#{mp.id}"%>>
            <img class="all-mp-image"src=<%=mp.photo_url%> alt=<%=mp.name%>>
             <h3><%= mp.name %> MP<h3></a>
          </div>
      <% end %>
  </div>
  
  <br></br>

<div class="page-content">
  <%= paginate @mp_data %>
</div>
    <br></br>

</div>
