<h2> <%= @mp.name %> </h2>
<h3> <%= @mp.constituency %> </h3>


<h2>Articles</h2>
<div id="article-block">
  <% @mp.articles.each do |article| %>
  <% text = article.article_text.truncate(200) %>


    <h2> <%= article.headline %> </h2>
    <h3> <%= article.tag %> </h3>
    <p> <%= text %> </p>
    <a href=<%= article.url %>> Read more </a>
    <br></br>
    <hr>
  <% end %>
</div>
