<% if @mp.party == "Labour" then colour_class = "party_labour" %>
<% elsif @mp.party == "Conservative" then colour_class = "party_con" %>
<% end %>

<div id="mp-block" class=<%=colour_class%>>

  <img id="mp-photo" src=<%=@mp.photo_url%> alt=<%=@mp.name%>>

  <div id="mp-info">
    <h1> <%= @mp.name %> MP</h1>
    <h2 id="mp-constituency"><%= @mp.constituency %> </h2>
    <h2 id="mp-party"> Party: <%= @mp.party %> </h2>
    <h2 id="mp-party"> Majority: <%= @mp.majority %> </h2>
    <h2 id="mp-party"> First elected: <%= @mp.first_elected %> </h2>
    <h2 id="mp-party"> Elections won: <%= @mp.elections_won %> </h2>
  </div>
</div>
  <br></br>

<% if @mp.articles.length > 0 %>
  <div id="article-block">
    <h1>Recent articles</h1>
      <% @mp.articles.each do |article| %>
      <% text = article.article_text.truncate(200) %>


        <h2><a href=<%= article.url %>> <%= article.headline %> </a></h2>
        <h3> <%= article.tag %> </h3>
        <p> Published: <%= article.datetime %> </p>
        <p> <%= text %> </p>
        <a href=<%= article.url %>> Read more </a>
        <br></br>
        <hr>
      <% end %>
  </div>
<% else %>
  <div>
  <h1 id="no-articles">No articles to display </h1>
  </div>
<% end %>
