<% if @mp.party == "Labour" then colour_class = "party_labour" %>
<% elsif @mp.party == "Conservative" then colour_class = "party_con" %>
<% end %>

<div id="mp-block" class=<%=colour_class%>>

  <img id="mp-photo" src=<%=@mp.photo_url%> alt=<%=@mp.name%>>

  <div id="mp-info">
    <h1> <%= @mp.name %> MP</h1>
    <h2 id="mp-constituency"><%= @mp.constituency %> </h2>
    <h4 id="mp-party"> Party: <%= @mp.party %> </h4>
    <h4 id="mp-party"> Majority: <%= @mp.majority %> </h4>
    <% if @mp.elections_won != 1000 %>
    <h4 id="mp-party"> First elected: <%= @mp.first_elected %> </h4>
    <h4 id="mp-party"> Elections won: <%= @mp.elections_won %> </h4>
    <% end %>
    <h4><%= link_to "Parliament.uk member page", @mp.mp_parliament_url, :target => "_blank" %></h4>
    
    <% if @mp.mp_website_url.chars.length > 0 %>
      <h4><%= link_to "Website", @mp.mp_website_url, :target => "_blank"%></h4>
    <% end %>
  </div>
</div>

  <br>

<% if @mp.articles.length > 0 %>
  <div id="article-block">
    <h1>Recent articles</h1>
      <% @mp.articles.each do |article| %>
      
      <% if article.article_text.split('. ').length > 10 %>
      <% text = article.article_text.split('. ')[0] + '. ' + article.article_text.split('. ')[1] + '...' %>
      <% else %>
      <% text = "No text preview available. The article may contain a video or other media. Please click 'Read more' to view." %>
      <% end %>

        <h2><%= link_to article.headline, article.url, :target => "_blank" %> </h2>

        <h3> <%= article.tag %> </h3>
        <p> Published: <%= article.datetime.to_formatted_s(:long) %> </p>
        <p> <%= text %> </p>

        <%= link_to "Read more", article.url, :target => "_blank" %>
        
        <br><br>
        
        <% if article != @mp.articles[-1] %>
        <hr>
        <% end %>

      <% end %>
  </div>
  <br>
<% else %>
  <div>
  <h1 id="no-articles">No articles to display </h1>
  </div>
<% end %>
