<div id="mp-block">
  <h1> <%= @mp.name %> </h1>

  <% if @mp.party == "Labour" then colour_class = "party_labour" %>
  <% elsif @mp.party == "Conservative" then colour_class = "party_con" %>
  <% end %>

  <img id="mp-photo" src="https://pbs.twimg.com/media/D2BuhbQWkAAPiUv.png">

  <div class=<%=colour_class%>>
    <h2 id="mp-constituency"><%= @mp.constituency %> </h2>
    <h2 id="mp-party"> Party: <%= @mp.party %> </h2>
    <h2 id="mp-party"> Majority: <%= @mp.majority %> </h2>
    <h2 id="mp-party"> First elected: <%= @mp.first_elected %> </h2>
    <h2 id="mp-party"> Elections won: <%= @mp.elections_won %> </h2>
  </div>


  <br></br>
</div>

<div id="article-block">
  <h1>Articles</h1>
    <% @mp.articles.each do |article| %>
    <% text = article.article_text.truncate(200) %>


      <h2> <%= article.headline %> </h2>
      <h3> <%= article.tag %> </h3>
      <p> <%= text %> </p>
      <a href=<%= article.url %>> Read more </a>
      <br></br>
      <hr>
    <% end %>
</div>
