<% if @mp_results.length > 0 %>
  <h1>MPs: </h1>
  <% @mp_results.each do |mp| %>
  <p> <%= link_to mp.name, mp_path(mp.id) %> </p>
  <% end %>
<% end %>

<% if @headline_results.length > 0 %>
  <h1> Results: </h1>
  <% @headline_results.each do |article| %>
  <h2><%= link_to article.headline, article.url, :target => "_blank" %></h2>
  <% mp = find_mp(article.mp_id) %>
  <p> <%= link_to mp.name, mp_path(mp.id) %> </p>
  <% end %>
<% end %>

<% if @article_text_results.length > 0 %>
  <h1> In-article results: </h1>
  <% @article_text_results.each do |article| %>
  <h2><%= link_to article.headline, article.url, :target => "_blank" %></h2>
  <% mp = find_mp(article.mp_id) %>
  <p> <%= link_to mp.name, mp_path(mp.id) %> </p>
  <% end %>
<% end %>

<% if @headline_results.length == 0  && @article_text_results.length == 0 && @mp_results.length == 0 %>
<div class="no-results">
  <h2><%= link_to 'No results. Return home.', "/"%> </h2>
</div>
<%end %>
