<div class="content time">
  <p>Search completed in <%= @time_delta %> seconds.</p>
</div>

<% if @mp_results.length > 0 %>
  <div class="mp-results results">
    <br>
    <div class="width-set">
      <h1 class="section-header">MPs: </h1>
      <div class="mp-grid width-set">
        <% @mp_results.each do |mp| %>
          <%= link_to mp_path(mp.slug) do %>
            <img src=<%=mp.photo_url %> class="mp-photo">
            <p> <%= mp.name %> MP</p>
          <% end %>
        <% end %>
      </div>
      </div>
    <br>
  </div>
<% end %>

<% if @constit_results.length > 0 %>
  <div class="constit-results results">
    <br>
      <div class="width-set">
      <h1 class="section-header"> Constituency results: </h1>
      <% @constit_results.each do |mp| %>
        <% if @constit_results[0] != mp %>
        <br>
        <%end %>
        <h2 class="constit-results"><%= link_to mp.constituency + ' - '+ mp.name, mp_path(mp.slug), :class => 'constit-results' %></h2>
        <% if @constit_results[-1] != mp %>
        <hr>
        <%end %>
      <% end %>
      </div>
    <br>
  </div>
<%end%>
  
<% if @headline_results.length > 0 %>
  <div class="headline-results results">
    <br>
      <div class="width-set">
      <h1 class="section-header"> Headline results: </h1>
      <% if @headline_results.length > 1 %>
        <p> <%= @headline_results.length %> results found.</p>
      <% else %>
        <p> <%= @headline_results.length %> result found.</p>
      <% end %>
      <br>
      <% @headline_results.each do |article| %>
        <% if @headline_results[0] != article %>
        <br>
        <%end %>
        <h2><%= link_to article.headline, article.url, :target => "_blank" %></h2>
        <% mp = find_mp(article.mp_id) %>
        <p> <%= link_to mp.name + ' MP', mp_path(mp.slug) %> |  <%= article.datetime.strftime('%d / %m / %Y') %></p>
        <%=image_tag("mps/tag.png", :class => "article-tag") %><h4 style="display:inline"> <%= article.tag %> </h4>

        <% article_preview = get_preview_text(params[:search], article.article_text) %>

        <p> <%= article_preview[0] %> <span class="search-highlight"><%= article_preview[1] %></span> <%= article_preview[2] %> </p>
        <% if @headline_results[-1] != article %>
        <hr>
        <%end %>
      <% end %>
      </div>
    <br>
  </div>
<% end %>

<% if @article_text_results.length > 0 %>
  <div class="article-results results">
    <br>
      <div class="width-set">
      <h1 class="section-header"> In-article results: </h1>
      <% if @article_text_results.length > 1 %>
        <p> <%= @article_text_results.length %> results found.</p>
      <% else %>
        <p> <%= @article_text_results.length %> result found.</p>
      <% end %>
      <br>
      <% @article_text_results.each do |article| %>
        <% if @article_text_results[0] != article %>
        <br>
        <%end %>
      <h2><%= link_to article.headline, article.url, :target => "_blank" %></h2>
      <% mp = find_mp(article.mp_id) %>
      <p> <%= link_to mp.name + ' MP', mp_path(mp.slug) %> |  <%= article.datetime.strftime('%d / %m / %Y') %> </p>
      <%=image_tag("mps/tag.png", :class => "article-tag") %><h4 style="display:inline"> <%= article.tag %> </h4>

      <% in_article_preview = get_preview_text(params[:search], article.article_text) %>
      <p> <%= in_article_preview[0] %> <span class="search-highlight"><%= in_article_preview[1] %></span> <%= in_article_preview[2] %> </p>

        <% if @article_text_results[-1] != article %>
        <hr>
        <%end %>
      <% end %>
      </div>
    <br>
  </div>
<% end %>
  
<% if @headline_results.length == 0  && @article_text_results.length == 0 && @mp_results.length == 0 %>
  <div class="no-results">
    <h2><%= link_to 'No results. Return home.', "/"%> </h2>
  </div>
<%end %>
