<% most_mp = @most_articles.max_by{|k,v| v} %>

<div class="content width-set">
  <h1>Statistics</h1>

  <h2>Summary</h2>
  <p>Total articles: <%= @articles_length %></p>
  <p>The MP with the most articles is <%= find_mp(most_mp)[0].name %>, who has published <%= most_mp[1] %>.</p>

  <br>
  <hr>
  <br>

  <h2>Other</h2>
  <p>Dog mentions: <%= @dogs %></p>
  <p>Cat mentions: <%= @cats %></p>
  <p>Hedgehog mentions: <%= @hedgehogs %></p>
</div>
