<% most_mp = @most_articles.max_by{|k,v| v} %>

<div class="content width-set">
  <h1>Statistics</h1>
  <p>This page will be added to over time as more stats are gathered from the database.</p>

  <br>
  <h2>Summary</h2>
  <p>Total articles: <%= @articles_length %></p>
  <% if @seven_days > 0 %>
    <p><%= @seven_days %> articles have been added in the past week.</p>
  <% end %>
  <p>The MP with the most articles is <%= find_mp(most_mp)[0].name %>, who has published <%= most_mp[1] %>.</p>

  <br>

  <h2>Articles by publication date</h2>
  <%= area_chart Article.where('datetime > ?', "2020-01-01").group_by_month(:datetime).count %>

  <br>
  <hr>
  <br>

  <h2>Other</h2>
  <p>The most popular animals</p>
  <%= column_chart({"Dogs" => @dogs, "Cats" => @cats, "Hedgehogs" => @hedgehogs}) %>
<br>
<br>
</div>
