<div id="mp-page">
  <h2 class="page-content">All MPs</h2>

  <div class="mp-box">    
      <% @mp_data.each do |mp| %>
          <div class="mp-link">
            <%= link_to mp_path(mp.slug) do %>
              <img class="all-mp-image"src=<%=mp.photo_url%> alt=<%=mp.name%>>
              <h3><%= mp.name %> MP </h3>
              <p><%= mp.party %></p>
            <% end %>
          </div>
      <% end %>
  </div>
  
  <br>

<div class="page-content">
  <%= paginate @mp_data %>
</div>

<br>
</div>
