<!DOCTYPE html>
<html>
  <head>
    <title>MP News Search</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
   
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <h1 id="site-header">MP News Search</h1>
      <a href="/">Search</a> | <a href="/about">About</a> | <a> Contact </a>
      <br></br>
    </div>

    <div class="main-body">
      <%= yield %>
    </div>
  </body>
</html>
