<!DOCTYPE html>
<html>
  <head>
    <title>Tzetzes: MP News Search</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Nunito:wght@200;400;900&display=swap" rel="stylesheet">

   
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'filters'%>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
  <div class="viewport">
  <div class="parallax blob_<%=rand(1..3)%>">
    <div class="navbar">
      <h1 id="site-header"><%=link_to "Tzetzes: MP News Search", "/" %></h1>
      
      <% if signed_in? %>
      <div class="navbar-inner-sign-in">
        <%= link_to "MPs", "/mps" %> | <%= link_to "Articles", "/articles" %> | <%= link_to "About", about_url(:anchor => "about-body")  %> | <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      </div>
      <% else %>
      <div class="navbar-inner-sign-out">
        <%= link_to "Sign in", "/users/sign_in" %> | <%= link_to "Register", "/users/sign_up" %> 
      </div>
      <% end %>

      <br>

      <% if signed_in? %>
      <div class="search-field">
        <%= form_tag(search_path, :method => "get") do %>
          <div class="input-group">
            <%= search_field_tag :search, params[:search], placeholder: "Search for MPs, constituencies, or keywords", class: "form-control" %> <%= button_tag "Search", :class => 'search-button', :name => nil %>
          </div>
        <%end%>
        <br>
      </div>
      <% else %>
      <br>
      <% end %>
    </div>

    <% if signed_in? %>
      <div id="navbar-padding-sign-in"></div>
    <% else %>
      <div id="navbar-padding"></div>
    <% end %>

    <div class="main-body">
      <div class="content">
      <br>
        <% if notice %>
          <p class="notice"><%= notice %></p>
          <br>
        <% end %>

        <% if alert %>
          <p class="alert"><%= alert %></p>
          <br>
        <% end %>
      </div>

      <%= yield %>

    </div>
  </div>
  </div>
  </body>

</html>
