<!DOCTYPE html>
<html>
  <head>
    <title>MpNewsSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <div class="nav_bar">
    <h1>MP News Search</h1>
    <a href="/">SEARCH</a> | <a href="/about">ABOUT</a>
  </div>
  <body>
  <div class="main-body">
    <%= yield %>
  </div>
  </body>
</html>
